<!doctype html>
<head>
  <title>Utcakep</title>
  <meta http-equiv="refresh" content="300">
</head>
<html>
  <body>
    <p align=center>
      <img src="{{ url_for('pic', number = number, _external = True) }}" style="max-height:94vh;max-width:94vw;" alt="Zuglo utcakep"><br>
      <a href="{{ url_for('hello', number = maxnumber, _external = True) }}">|&lt;</a>
      <a href="{{ url_for('hello', number = [maxnumber, number + 20] | min, _external = True) }}">&lt;&lt;</a>
      <a href="{{ url_for('hello', number = [maxnumber, number + 1] | min, _external = True) }}">&lt;</a>
      <a href="{{ url_for('hello', number = [number - 1, 0] | max, _external = True) }}">&gt;</a>
      <a href="{{ url_for('hello', number = [number - 20, 0] | max, _external = True) }}">&gt;&gt;</a>
      <a href="{{ url_for('hello', number = 0, _external = True) }}">&gt;|</a>
    </p>
  </body>
</html>
